<h2> Edit User</h2>

<form action="/update_user/<%= @dbase.id %>">
  <input type="text" name="name" placeholder = "name" value="<%= @dbase.name %>">
  <input type="text" name="email" placeholder = "email" value="<%= @dbase.email %>">
  <input type="submit">
   

  
</form>