<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Your Account</h3>
        </div>
        <div class="panel-body">
          <div>
            <h4><%= @dbase.name %></h4>
            <strong>email:</strong> <%= @dbase.email %>
          </div>
          <a href="/create_user/<%= @dbase.id %>/edit">edit</a>
          <a href="/dbuser/<%= @dbase.id %>/destroy">delete</a>
        </div>
      </div>
    </div>
  </div>
</div>
